*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
}

.input-radio{
    display: none;
    opacity: 0;
    visibility: hidden;
}
.input-box{
    padding-bottom: 20px;
}
.label-radio{
    position: relative;
    display: block;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 25px;
    cursor: pointer;
    transition: color 0.5s;
}
.label-radio::before,
.label-radio::after{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.label-radio::before{
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #00fffd;
}
.label-radio::after{
    left: -7px;
    width: 20px;
    height: 20px;
    border: 2px solid #00fffd;
    box-shadow: 0px 0px 6px 1px #00fffd;
    opacity: 0;
}
.input-radio:checked ~ .label-radio::after{
    opacity: 1;
    animation: scale 0.5s;
}
.input-radio:checked ~ .label-radio{
    color:#00fffd;
}
@keyframes scale {
    0%{transform: translateY(-50%) scale(1.5);}
    50%{transform: translateY(-50%) scale(0.5);}
    100%{transform: translateY(-50%) scale(1);}
}